@model CarServiceAPP.ViewModels.CarAndServiceViewModel
@{
    ViewBag.Title = "Service";
}
@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}
<h2>Car</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th>VIN</th>
        <th>Make</th>
        <th>Model</th>
        <th>Style</th>
        <th>Year</th>

    </tr>
    <tr>
        <td>@Model.Cars.VIN</td>
        <td>@Model.Cars.Make</td>
        <td>@Model.Cars.Model</td>
        <td>@Model.Cars.Style</td>
        <td>@Model.Cars.Year</td>
    </tr>
</table>
<h2>Service History</h2>

@if (!Model.Services.Any())
{
    <h1>No service history</h1>
}
else
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>Miles</th>
            <th>Price</th>
            <th>Date Added</th>
            <th>Service Type</th>
            <th></th>


        </tr>
        @foreach (var item in Model.Services)
        {
            <tr>
                <td>@item.Miles</td>
                <td>@item.Price</td>
                <td>@item.DateAdded</td>
                <td>@item.ServiceType</td>
                <td>@*<button class="btn btn-danger fa fa-trash">*@@Html.ActionLink(" ", "DeleteService", "Service", item, new { @class = "btn  btn-danger fa fa-trash" })@*</button>*@</td>
            </tr>
        }

    </table>
}

@Html.ActionLink("Add Service", "ServiceForm", "Service", Model.Cars, new { @class = "btn btn-dark" })
