@model IEnumerable<CarServiceAPP.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<h2>Customer List</h2>
@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

@*<button>@Html.ActionLink("Create New Customer", "Register", "Account",new {@class=" btn fa fa-plus " ,style="color:black;"})</button>*@

@using (Html.BeginForm("Index", "Customer", FormMethod.Get))
{
    <div class="container searchbar" style="display: flex; justify-content: flex-end">
        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">

                @Html.RadioButton("option", "FirstName") <text><strong>First Name</strong></text>
                @Html.RadioButton("option", "Mobile") <text><strong>Mobile</strong></text>
                @Html.RadioButton("option", "Email")<text><strong>Email</strong></text>
                @Html.TextBox("search") <button class="fa fa-search" type="submit" name="submit" style="background-color:black;color:white;font-size:20px"> </button>

            </div>
        </div>
    </div>
}
@if (Model.Any())
{
    <table class="table table-striped table-hover">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>@item.City</td>
                <td>@Html.ActionLink(" ", "ViewDetails", item, new { @class = "btn  btn-dark fas fa-car-alt" })</td>
                <td>@Html.ActionLink(" ", "EditCustomer", "Customer", item, new { @class = "btn  btn-success fa fa-edit" })</td>
                <td>@Html.ActionLink(" ", "DeleteCustomerDetails", item, new { @class = "btn  btn-danger fa fa-trash" })</td>
            </tr>
        }

    </table>
}
else
{
    <h4>No customer found</h4>
}



