@model CarServiceAPP.Models.Car
@{
	ViewBag.Title = "CarForm";
}

<h2>Car Form</h2>

@using (Html.BeginForm("AddCar", "Car"))
{
	<div class="form-group">
		@Html.LabelFor(c => c.VIN)
		@Html.TextBoxFor(c => c.VIN, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(c => c.Make)
		@Html.EnumDropDownListFor(c => c.Make, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(c => c.Model)
		@Html.TextBoxFor(c => c.Model, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(c => c.Style)
		@Html.EnumDropDownListFor(c => c.Style, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(c => c.Year)
		@Html.TextBoxFor(c => c.Year, new { @class = "form-control" })
	</div>
	@Html.HiddenFor(c => c.Id)
	<button class="btn btn-primary" type="submit">Submit</button>
}
