@model CarServiceAPP.ViewModels.CarCustomer
@{
	ViewBag.Title = "CarForm";
}

<h2>Car Form</h2>

@using (Html.BeginForm("AddCar", "Car"))
{
	<div class="form-group">
		@Html.LabelFor(c=>c.Cars.VIN)
		@Html.TextBoxFor(c=>c.Cars.VIN, new { @class = "form-control" })
       
	</div>

	<div class="form-group">
		@Html.LabelFor(c => c.Cars.Make)
		@Html.EnumDropDownListFor(c => c.Cars.Make, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(c => c.Cars.Model)
		@Html.TextBoxFor(c => c.Cars.Model, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(c => c.Cars.Style)
		@Html.EnumDropDownListFor(c => c.Cars.Style, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(c => c.Cars.Year)
		@Html.TextBoxFor(c => c.Cars.Year, new { @class = "form-control" })
	</div>
	@Html.HiddenFor(c => c.Customers.Id)
    @Html.HiddenFor(c=>c.Cars.Id)
	<button class="btn btn-dark" type="submit">Submit</button>
}